<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THINGS HE DO</title>
</head>
<body>
    <h1>IF YOU DO NOT KNOW THE WAY PLAY GOD SHATTERING STAR:</h1>

<div style="text-align: center;">
    <iframe 
        width="560"
        height="315"
        src="https://www.youtube.com/embed/bMfvZmhqW0A?start=85"
        title="YouTube video player"
        frameborder="5"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</div>

    <% if(error) { %>
        <h2><%= error %></h2>
    <% }  %> 
    <ul>
        <% todos.forEach( function(todo) { %>
            <li> 
                <%= todo.text %> 
                -
                <%= todo.done ? 'done' : 'not done' %>
            </li>
        <% }) %>
    </ul>


</body>
</html>